<?xml version="1.0" encoding="utf-8" ?>
<Configuration status="WARN">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5level %thread - %msg%n" />
        </Console>
        <File name="WorkflowAppender" fileName="logs/log.log">
            <PatternLayout>
                <MarkerPatternSelector defaultPattern="%-5level [%thread]: %C M - %msg%n">
                    <PatternMatch key="HEADER" pattern="******************** %msg ********************n"/>
                </MarkerPatternSelector>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info" >
            <AppenderRef ref="WorkflowAppender" />
        </Root>
        <Logger name="ConsoleLogger" level="trace">
            <AppenderRef ref="ConsoleAppender" />
        </Logger>
    </Loggers>
</Configuration>